
/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

body {
    background-color: var(--bg-color);
}

div {
    padding: 20px;
    display: grid;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "."
            "f";
}

.item {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.item-a {
    grid-area: a;
}
.item-b {
    grid-area: b;
}
.item-c {
    grid-area: c;
}
.item-d {
    grid-area: d;

}
.item-e {
    grid-area: e;
}
.item-f {
    grid-area: f;
}

:root {
    --section-color: #C72C48;
    --bg-color: #FDEFEC;
    --gap-value: 16px;
}
.grid-container {
    display: grid;

    color: white;
}

section {
    background-color: var(--section-color);
}


/*////////////////////////
    2. Typography
////////////////////////*/


/*////////////////////////
    3. Areas
////////////////////////*/


/*////////////////////////
    4. Media Queries
////////////////////////*/


@media screen and (min-width: 1025px){
    div {
        padding: 20px;
        display: grid;
        grid-template-rows: 50px calc(190px - var(--gap-value)) 100px auto 50px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: var(--gap-value);
        grid-template-areas:
            "a c c"
            "b c c"
            "b e d"
            "b e ."
            "f f f";
    }
}




